!!!
%html{:lang => "en", "ng-app" => "order"}
  %head
    %title Weaver Barn | Order Form
    %meta{:charset => "utf-8"}/
    = stylesheet_link_tag    "application"      
    -# = javascript_include_tag :defaults
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = stylesheet_link_tag 'expand'
    = stylesheet_link_tag "radmin-green.css"    
    = favicon_link_tag  
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Coming+Soon", :rel => "stylesheet", :type => "text/css"}
    / Downloaded Libraries
    / date picker libraries
    %script{:src => "/js/moment.js"}
    %script{:src => "/js/pikaday.js", :type => "text/javascript"}
    %link{:href => "/css/pikaday.css", :rel => "stylesheet", :type => "text/css"}
    / jQuery libraries (load before angular)
    %script{:src => "/js/jquery.min.js"}  
    / angularjs libraries
    / <script src="/js/angular.min.js"></script>
    %script{:src => "/js/angular.js"}
    %script{:src => "/js/angular-idle.min.js"}
    / select2 libraries
    %script{:src => "/js/select2.full.min.js"}
    %link{:href => "/css/select2.min.css", :rel => "stylesheet", :type => "text/css"}/
    / load jquery ui here and stuff doesn't break?
    %script{:src => "/js/jquery-ui.min.js"}
    / For generating a picture from the visual editor
    %script{:src => "/js/html2canvas.js"}
    %script{:src => "/js/jquery.textfill.min.js"}
    %script{:src => "/js/jquery.plugin.min.js"}

    / Custom Libraries
    / Some useful things.
    %script{:src => "/js/lib.js"}
    %script{:src => "/js/api.js"}
    / the form's styles
    %link{:href => "/css/form.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/jquery-ui.min.css", :rel => "stylesheet", :type => "text/css"}
    / lib.js - contains misc. functions and such.
    %script{:src => "/js/lib.js", :type => "text/javascript"}
    / visual editor libraries (load before app)
    %script{:src => "/js/html2canvas.js"}
    / the angular app
    %script{:src => "/js/app.js", :type => "text/javascript"}
    %script{:src => "/js/visual.js", :type => "text/javascript"}
    %script{:src => "/js/barn.js", :type => "text/javascript"}
    %script{:src => "/js/visuals.js", :type => "text/javascript"}
    %script{:src => "/js/editor.js", :type => "text/javascript"}
    = javascript_include_tag 'jquery.easyModal.js'            
    =javascript_tag do
      save_unavailable = #{@save_unavailable}
      finalized = #{@order.andand.finalized?}
    - if(['Admin'].include?(current_salesperson.account_type))
      :javascript
        is_admin_user = true
    - else 
      :javascript 
        is_admin_user = false 
    - if(['Admin', 'Shipping'].include?(current_salesperson.account_type))
      :javascript
        is_shipping_user = true
    - else
      :javascript
        is_shipping_user = false    
  %body{:'data-no-turbolink' => true, "ng-controller" => "FormController as form"}
    #sticky-footer-wrap
      .navbar.navbar-inverse.navbar-static-top{style: 'background-color: white;border: none;' }
        %div{style: 'background-color: white;border: none'}
          .container-fluid{style: 'background-color: white;'}
            %a.brand{style: 'padding: 5px;'}
              %img{src: '/img/weaver-logo.png', alt: 'Weaver Barns', style: 'height: 60px;'}
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
              %p.navbar-text.pull-right
                - if salesperson_signed_in?
                  %a#user-popover.navbar-link.user-info{:href => "#", style: 'color: #F2B718;text-shadow: none;font-size: 14px;'}
                    %i.radmin-icon.radmin-user
                    = current_salesperson.name 
                    = link_to destroy_salesperson_session_path, :method => :delete do
                      %button.btn.btn-mini.btn-inverse.navbar-link.logout{style:'    top: -4px;color: #F2B718; position: relative;background-color: white;'}
                        %i.radmin-icon.radmin-redo
                        Logout        
      .row-fluid
        .span12 &nbsp;
      .row-fluid.hidden-phone.hidden-tablet
        .span12.top-stats
          - if salesperson_signed_in?
            %ul.top-nav-boxes
              %li#hide-top-stats.top-stats-arrow{:title => "Hide Top Stats"}
                %img{:alt => "Hide Top Stats", :src => "/assets/radmin/images/chevron-left.png"}/
              %li
                %a{:href => "/sales_orders/new"}
                  %i.radmin-pencil
                  %span New Order
              %li
                %a{:href => "/opportunities"}
                  %i.radmin-fire
                  %span Opportunities                
              - if(['Admin', 'Shipping'].include?(current_salesperson.account_type))
                %li
                  %a{:href => "/reports"}
                    %i.radmin-stats-up
                    %span Reporting
              - if(['Admin', 'Shipping', 'Internal Sales Manager', 'Internal Salesman'].include?(current_salesperson.account_type))
                %li
                  %a{:href => "/sales_orders/general_search"}
                    %i.radmin-search
                    %span Search                        
              - if(['Admin', 'Shipping', 'Internal Sales Manager', 'Dealer Sales Manager', 'Internal Salesman'].include?(current_salesperson.account_type))
                %li
                  %a{:href => "/sales_orders/map"}
                    %i.radmin-grid-view
                    %span Order Map   
              - if(['melissa@weaverbarns.com', 'mmiller@weaverbarns.com', 'anthony@mydesignforest.com'].include?(current_salesperson.email))
                %li
                  %a#csv-push{:href => "/sales_orders/push_to_dropbox"}
                    %i.radmin-file-xml
                    %span Dropbox CSV                    
      .container-fluid.main-container
        .row-fluid
          .span12
            .sidebar-nav
              %ul.nav.nav-stacked.left-menu
                - if !salesperson_signed_in?
                  %li
                    %span.box
                      %i.radmin-icon.radmin-user
                    %span.hidden-tablet.hidden-phone Please Sign In
                - else
                  %li
                    %a{:href => "/index"}
                      %span.box
                        %i.radmin-icon.radmin-home
                      %span.hidden-tablet.hidden-phone Dashboard
                %li.accordion
                  %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse1"}
                    %span.box
                      %i.radmin-icon.radmin-drawer-2
                    %span.hidden-tablet.hidden-phone Sales Orders 
                    %span.label.pull-right.hidden-tablet.hidden-phone
                      #{['Admin', 'Shipping'].include?(current_salesperson.account_type) ? "9" : "5"}
                  #collapse1.accordion-body.collapse
                    %ul.nav.nav-stacked.submenu
                      %li
                        %a{:href => "/sales_orders"}
                          %span.box
                            %i.radmin-icon.radmin-drawer-2
                          %span.hidden-tablet.hidden-phone General Orders  
                      %li
                        %a{:href => "/sales_orders/quotes"}
                          %span.box
                            %i.radmin-icon.radmin-drawer-2
                          %span.hidden-tablet.hidden-phone Quotes                            
                      %li
                        %a{:href => "/sales_orders/closed"}
                          %span.box
                            %i.radmin-icon.radmin-drawer-2
                          %span.hidden-tablet.hidden-phone Closed Orders  
                      %li
                        %a{:href => "/sales_orders/inactive"}
                          %span.box
                            %i.radmin-icon.radmin-drawer-2
                          %span.hidden-tablet.hidden-phone Inactive Orders   
                      - if(SalesTeam.find_by_name("Internal").salespeople.include?(current_salesperson))                            
                        %li
                          %a{:href => "/sales_orders_by_dealer"}
                            %span.box
                              %i.radmin-icon.radmin-drawer-2
                            %span.hidden-tablet.hidden-phone Orders by Dealer                            
                      - if(['Admin', 'Shipping'].include?(current_salesperson.account_type)) 
                        %li
                          %a{:href => "/sales_orders/fishbowl"}
                            %span.box
                              %i.radmin-icon.radmin-drawer-2
                            %span.hidden-tablet.hidden-phone Fishbowl Status       
                      - if(current_salesperson.can_approve_orders?)                  
                        %li
                          %a{:href => "/sales_orders/final_approval"}
                            %span.box
                              %i.radmin-icon.radmin-drawer-2
                            %span.hidden-tablet.hidden-phone Final Approval     
                  - if(['Admin', 'Shipping'].include?(current_salesperson.account_type))                                         
                    %li.accordion
                      %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse4"}
                        %span.box
                          %i.radmin-icon.radmin-home
                        %span.hidden-tablet.hidden-phone Production Status 
                        %span.label.pull-right.hidden-tablet.hidden-phone 2
                      #collapse4.accordion-body.collapse
                        %ul.nav.nav-stacked.submenu                                                      
                          %li
                            %a{:href => "/sales_orders/prebuilt_status"}
                              %span.box
                                %i.radmin-icon.radmin-home
                              %span.hidden-tablet.hidden-phone Prebuilt Status    
                          %li
                            %a{:href => "/sales_orders/aos_status"}
                              %span.box
                                %i.radmin-icon.radmin-home
                              %span.hidden-tablet.hidden-phone AOS Status  
                                                                                                                                  
                  - if(['Admin', 'Shipping'].include?(current_salesperson.account_type))
                    %li
                      %a{:href => "/reports"}
                        %span.box
                          %i.radmin-icon.radmin-bars
                        %span.hidden-tablet.hidden-phone Reports     
                  - if(current_salesperson.sales_team.name == 'Internal')                                         
                    %li
                      %a{:href => "/special_order_items"}
                        %span.box
                          %i.radmin-icon.radmin-drawer-2
                        %span.hidden-tablet.hidden-phone Outstanding Special Order Items                       
                  - if(['Admin', 'Shipping'].include?(current_salesperson.account_type))
                    %li.accordion
                      %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse2"}
                        %span.box
                          %i.radmin-icon.radmin-user-3
                        %span.hidden-tablet.hidden-phone Management
                        %span.label.pull-right.hidden-tablet.hidden-phone 4
                      #collapse2.accordion-body.collapse
                        %ul.nav.nav-stacked.submenu
                          %li
                            %a{:href => "/sales_teams"}
                              %span.box
                                %i.radmin-icon.radmin-support
                              %span.hidden-tablet.hidden-phone Sales Teams                          
                          %li
                            %a{:href => "/salespeople"}
                              %span.box
                                %i.radmin-icon.radmin-user
                              %span.hidden-tablet.hidden-phone Users
                          %li
                            %a{:href => "/customers"}
                              %span.box
                                %i.radmin-icon.radmin-user-2
                              %span.hidden-tablet.hidden-phone Customers
                          %li.submenu-last
                            %a{:href => "/reports"}
                              %span.box
                                %i.radmin-icon.radmin-attachment
                              %span.hidden-tablet.hidden-phone Reports
                          - if(['Admin'].include?(current_salesperson.account_type))                                         
                            %li
                              %a{:href => "/infusionsoft_settings"}
                                %span.box1 
                                  %i.radmin-icon.radmin-cog
                                %span.hidden-tablet.hidden-phone Infusionsoft Settings                                
                  - elsif(current_salesperson.account_type == 'Dealer Sales Manager')
                    %li
                      %a{:href => "/salespeople"}
                        %span.box
                          %i.radmin-icon.radmin-user
                        %span.hidden-tablet.hidden-phone Users
                    %li
                      %a{:href => "/customers"}
                        %span.box
                          %i.radmin-icon.radmin-user-2 
                        %span.hidden-tablet.hidden-phone Customers
                  - else
                    %li
                      %a{:href => "/customers"}
                        %span.box
                          %i.radmin-icon.radmin-user-2
                        %span.hidden-tablet.hidden-phone Customers          
                  - if(['Admin', 'Shipping'].include?(current_salesperson.account_type))
                    %li
                      %a{:href => "/fishbowl_settings"}
                        %span.box
                          %i.radmin-icon.radmin-cog
                        %span.hidden-tablet.hidden-phone Settings    
                  - if(['Admin', 'Shipping'].include?(current_salesperson.account_type))
                    %li.accordion
                      %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse3"}
                        %span.box
                          %i.radmin-icon.radmin-arrow-up
                        %span.hidden-tablet.hidden-phone Backend Settings
                        %span.label.pull-right.hidden-tablet.hidden-phone 3
                      #collapse3.accordion-body.collapse
                        %ul.nav.nav-stacked.submenu                      
                          %li
                            %a{:href => "/edit_components"}
                              %span.box
                                %i.radmin-icon.radmin-paragraph-left
                              %span.hidden-tablet.hidden-phone Edit Component Prices
                          %li
                            %a{:href => "/edit_component_images"}
                              %span.box
                                %i.radmin-icon.radmin-pictures
                              %span.hidden-tablet.hidden-phone Edit Component Images
                          %li.submenu-last
                            %a{:href => "/upload_barn_csv"}
                              %span.box
                                %i.radmin-icon.radmin-attachment
                              %span.hidden-tablet.hidden-phone Update Barn Prices                               
                  %li
                    %a{:href => "/service_tickets"}
                      %span.box
                        %i.radmin-icon.radmin-flag-2
                      %span.hidden-tablet.hidden-phone Service Tickets   
                  %li
                    %a{:href => edit_salesperson_registration_path}
                      %span.box
                        %i.radmin-icon.radmin-accessibility
                      %span.hidden-tablet.hidden-phone User Settings                                                                 
            .container-fluid.content-wrapper{style: 'position: relative;height: 1000px;'}
              .row-fluid
                .span12
                  #save_ok_modal
                    %p Form saved successfully.
                    %a{:href => "#"} X
                  #save_bad_modal
                    %p There was an error saving the form. Please try again in a few moments.
                    %a{:href => "#"} X
                  #save_invoice_good_modal
                    %p Form saved successfully.
                    %p Close this dialog to go to the invoice page.
                    %a{:href => "#"} X
                  #save_invoice_bad_modal
                    %p There was an error saving the form.
                    %p If you continue, any changes you've made since your last save will be lost.
                    %p Do you want to continue to the invoice page anyways?
                    %span
                      %a.yes{:href => "#"} Yes
                      %a.no{:href => "#"} No
                  #emailInvoiceModal.panel{style: 'display: none;min-width: 400px; min-height: 150px;padding:10px;'}
                    .easy-modal-inner
                      %h4#emailFormModal{style: 'text-align:center;'} Email Invoice
                      %hr
                      #emailFormModalBody{style: "margin: 0 auto; width: 90%;"}
                        %form#emailInvoiceForm{action: "{{'/sales_orders/' + form.order_id + '/mail_invoice'}}", method: 'post'}
                          %label{for: 'invoice_comments'}Optional Comments:
                          %br/
                          %textarea{name: 'comments', id: 'invoice_comments', style: 'width: 100%;', rows: 7}
                          %hr/
                          %input{type: 'checkbox', id: 'invoice_include_secondary_email', name: 'invoice_include_secondary_email'}
                          %label{for: 'invoice_include_secondary_email'} Include Secondary Email
                          %hr/
                          %button.btn.btn-info{:type => "submit"} Send       
                          %button.btn.btn-default.closeModal{:type => "button"} Cancel 
                  #idleModal.panel{style: 'display: none;min-width: 400px; min-height: 150px;padding:10px;'}
                    .easy-modal-inner
                      %h4{style: 'text-align:center;'} Logging Out - Inactive
                      %hr
                      %div{style: "margin: 0 auto; width: 90%;"}
                        %div{style: "width: 90%; margin: auto"}
                          You are about to be logged out for being inactive.
                        %span#idleCountdown{style: "width: 90%"}
                .span12            
                  #contentWrap{"ng-controller" => "VisualEditorController as editor"}
                    / The price calculator.
                    %aside#sidebar.price{"ng-include" => "'/views/sidebar.html'"}
                    #leftWrap
                      %header
                        %h1
                          {{form.options.style == 'Custom' ? form.custom.structure_name : form.options.style}} {{form.extra.confirmed? "Sales Order" : "Quote"}} Form 
                          %span{"ng-if" => "form.order_id != null"} - {{form.order_id}}
                        .actions
                          %a#email_modal_open.button{:href => "#", "ng-if" => "form.order_id", onclick: "open_modal();"} Email
                          %a.button{:href => "#", "ng-class" => "{disabled: form.isSaving}", "ng-click" => "form.quickSave()", "ng-show" => "form.next_section_available && !form.isSaveUnavailable()"}
                            %span{"ng-show" => "!form.isSaving"} Save
                            %span{"ng-show" => "form.isSaving"}
                              Saving...
                              %img{:src => "/img/saving.gif"}/
                          %a.button{:href => "#", "ng-click" => "form.saveAndInvoice()", "ng-show" => "form.next_section_available && !form.isSaveUnavailable()"}
                            %span{"ng-show" => "!form.isSaving"} Save & PDF
                            %span{"ng-show" => "form.isSaving"}
                              Saving...
                              %img{:src => "/img/saving.gif"}/
                          %a.button{:href => "#", "ng-click" => "form.invoice()", "ng-show" => "form.next_section_available && form.isSaveUnavailable()"}
                            %span PDF
                          %a.button{:href => "#", "ng-click" => "editor.open()", "ng-show" => "form.next_section_available && form.showVisualEditor()"} Visual Editor
                          %a.button{:href => "#", "ng-click" => "form.setMaximized(!form.maximized)"} {{form.maximized ? "Shrink" : "Expand"}}
                        %nav
                          %ul
                            %li#dimensionsButton{"ng-class" => "{ active: form.isSelected(0) }", "ng-click" => "form.selectSection(0)"}
                              Dimensions & Layout
                            %li{"ng-class" => "{ active: form.isSelected($index+1) }", "ng-click" => "form.selectSection($index+1)", "ng-repeat" => "section in form.additions", "ng-show" => "form.next_section_available"}
                              {{section.name}}
                            %li#fees{"ng-class" => "{ active: form.isSelected(form.additions.length+1) }", "ng-click" => "form.selectSection(form.additions.length+1)", "ng-show" => "form.next_section_available"}
                              Customer
                            %li#extraInfo{"ng-class" => "{ active: form.isSelected(form.additions.length+2) }", "ng-click" => "form.selectSection(form.additions.length+2)", "ng-show" => "form.next_section_available"}
                              Additional Info
                            %li#specialOrder{"ng-class" => "{ active: form.isSelected(form.additions.length+3) }", "ng-click" => "form.recalculateSpecialOrder(); form.specialSortBy(); form.selectSection(form.additions.length+3)", "ng-show" => "form.next_section_available"}
                              Special Ordering
                              %span.warning_bubble{"ng-if" => "form.special_required_count > 0"} {{form.special_required_count}}                        
                            %li#overview{"ng-class" => "{ active: form.isSelected(-1) }", "ng-click" => "form.selectSection(-1)", "ng-show" => "form.next_section_available"}
                              Overview
                            %li#dev_tab{"ng-class" => "{ active: form.isSelected(-2) }", "ng-click" => "form.selectSection(-2)", "ng-show" => "form.isDevMode()"}
                              Dev Mode
                            %li#change_log_tab{"ng-class" => "{ active: form.isSelected(+3) }", "ng-click" => "form.selectSection(-3)", "ng-show" => "form.order_id"}
                              Change Log
                      %form#main
                        / main content here
                        %section#dimensions{"ng-include" => "'/views/dimensions.html'", "ng-show" => "form.isSelected(0)"}
                        %section{"ng-include" => "'/views/section.html'", "ng-repeat" => "section in form.additions", "ng-show" => "form.isSelected($index+1) && section.name != 'Paint & Stain'"}
                        %section{"ng-include" => "'/views/paintstain.html'", "ng-show" => "form.additions[form.section - 1].name == 'Paint & Stain'"}
                        %section{"ng-include" => "'/views/customer.html'", "ng-show" => "form.isSelected(form.additions.length+1)"}
                        %section{"ng-include" => "'/views/misc.html'", "ng-show" => "form.isSelected(form.additions.length+2)"}
                        %section{"ng-include" => "'/views/special_order.html'", "ng-show" => "form.isSelected(form.additions.length+3)"}
                        %section{"ng-include" => "'/views/change_log.html'", "ng-show" => "form.isSelected(-3)"}
                        %section{"ng-if" => "form.isSelected(-1)", "ng-include" => "'/views/warnings.html'"}
                        %section{"ng-if" => "form.isSelected(-2)", "ng-include" => "'/dev.html'"}             
                        / End Left
                    #visual-editor{"ng-include" => "'/views/visual_editor.html'", "ng-show" => "editor.is_open"}/
                  / End content
      #sticky-footer-push
    / Javascript
    / Sparklines

    :javascript
    
      function open_modal(){
        $("#emailInvoiceModal").trigger('openModal');
      }
      
      $("#change_log").load(function(){
        $(function(){
          //$("#change_log").load("/sales_orders/" + $("#change_log").data('orderid') + "/change_log"); 
          alert($("#change_log").length)
        });
      });
          
      $(document).ready(function(){



      $('a#csv-push').click(function() {            
          $.ajax({url: this.href, type: 'POST'})
          alert('Creating new Dropbox CSV...')
        return false
      })  
          
      $("#emailInvoiceForm").submit(function(){
        $.post($(this).attr('action'), 
              {comments: $("#invoice_comments").val(), 
              include_secondary_email: $("#invoice_include_secondary_email").is(':checked')}
              ).always( function(){alert('Email was queued for sending.');});
              
        $("#emailInvoiceModal").trigger('closeModal');
        $("#emailInvoiceForm")[0].reset();
        return false;
      });
      
      $('#emailInvoiceModal').easyModal({
        top: 200,
        overlay: 0.2,
        closeButtonClass: '.closeModal'      
      });

      $('#idleModal').easyModal({
        top: 50,
        overlay: 0.2,
        closeButtonClass: '.closeModal'
      });
            
        $("#testbutton").click(function(){
          alert($('#customerSelect option:selected').text())
        })
      
        #{@order_load_info}
      })

      jQuery(function($){
            var body_id = $('body').attr('id');
        if(body_id != null){
          var nav_element = $('#navigation-' + body_id.replace('body-',''));
              nav_element.addClass('active');
              if(nav_element.has('div.collapse')){
                var child_nav = nav_element.find('div.collapse');
                child_nav.addClass('in');
                child_nav.css('height: auto;');
                
              }
              
            }
            
            //hide the top-stats when the arrow is clicked
            var item = $('.top-stats');
            var target = $('#hide-top-stats');
            if(item.length > 0 && target.length > 0){
                target.on('click', function() {
            item.css('position', 'relative');
            item.animate({
                left: '-=1200',
                }, 1000, function() {
                // Animation complete.
                item.hide('slow');
            });
          });
        }
        
        
      });
           
      var s1, s2, s3, s4;

      $(function() {

          s1 = $("#save_ok_modal");
          s2 = $("#save_bad_modal");
          s3 = $("#save_invoice_good_modal");
          s4 = $("#save_invoice_bad_modal");

          s1.easyModal({
              overlay: 0.5
          });

          s1.find("a").click(function(e) {
              s1.trigger("closeModal");
              e.preventDefault();
          });

          s2.easyModal({
              overlay: 0.5
          });

          s2.find("a").click(function(e) {
              s2.trigger("closeModal");
              e.preventDefault();
          });

          s3.easyModal({
              overlay: 0.5,
              overlayClose: false
          });

          s3.find("a").click(function(e) {
              s3.trigger("closeModal");
              e.preventDefault();
              window.onbeforeunload = null;
              window.location = form.getPdfUrl();
          });

          s4.easyModal({
              overlay: 0.5,
              overlayClose: false
          });

          s4.find(".no").click(function(e) {
              s4.trigger("closeModal");
              e.preventDefault();
          });

          s4.find(".yes").click(function(e) {
              window.onbeforeunload = null;
              window.location = form.getPdfUrl();
          });

      });
